.footer_main_form {
    width: 800px;
    display: inline-block;
    padding-top: 8px;
}

.btn {
    font-size: 20px;
    padding: 11px 40px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    text-decoration: none;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    border: 1px solid #31bfdf;
    background: #31bfdf;
    position: relative;
    color: #282b2d !important;
    z-index: 1;
    border-radius: 30px !important;
}

.btn-common:hover {
    color: #282b2d !important;
    background: #fff;
    border-color: #31bfdf;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    cursor: pointer;
}

.btn-disabled {
    border: 1px solid #e1e2e1;
    background: #e1e2e1;
    position: relative;
    color: white !important;
    z-index: 1;
    border-radius: 30px !important;
}

.btn-disabled:hover {
    cursor: default;
}

.btn-clean {
    border: 1px solid red;
    background: red;
    position: relative;
    color: white !important;
    z-index: 1;
    border-radius: 30px;
}

.btn-clean:hover {
    color: #282b2d !important;
    background: #fff;
    border-color: red;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    cursor: pointer;
}

.btn-border {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}

.btn-border:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #31bfdf;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 0px;
    color: #999;
    text-transform: capitalize;
}

.btn-rm i {
    vertical-align: middle;
}

button:focus {
    outline: none !important;
}

.clear {
    clear: both;
}

.fa_coins {
  margin-right: 8px;
}
