.logo_header {
    float: left;
}

.header_div {
    width: 50%;
    display: inline-block;
}

.typography_header {
    vertical-align: middle;
    padding: 18px;
    color: black;
    float: center;
}
