.main_form {
    background: #F4F4F4;
    padding: 10px;
    width: 800px;
    margin: 5px;
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.25);
    color: #000;
    border-radius: 0.9em;
    display: inline-block;
}

.typography {
    padding-top: 20px;
}

.typography_header {
  padding-top: 20px;
  margin-bottom: 20px;
}

.linear_progress {
    margin: 16px;
}

.btn-basic {
    font-size: 20px;
    padding: 11px 40px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    text-decoration: none;
}

.btn-basic:focus,
.btn-basic:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-back {
    border: 1px solid #58daea;
    background: #58daea;
    position: relative;
    color: #282b2d !important;
    z-index: 1;
    border-radius: 30px;
    margin: 16px;
}

.btn-back:hover {
    color: #282b2d !important;
    background: #fff;
    border-color: #58daea;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    cursor: pointer;
}

.fa_clipboard {
  margin-left: 8px;
  color:  #58daea;
}

.fa_clipboard:hover {
  cursor: pointer;
}
