.main_form {
    background: #F4F4F4;
    padding: 10px;
    width: 50%;
    margin: 5px;
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.25);
    color: #000;
    border-radius: 0.9em;
    display: inline-block;
}

.typography_token_type {
  padding-top: 16px;
}

.radio_token_type {
  padding-right: 8px;
}
