.main_form {
    background: #F4F4F4;
    padding: 10px;
    width: 50%;
    margin: 5px;
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.25);
    color: #000;
    border-radius: 0.9em;
    display: inline-block;
}

.select_field {
    background: white;
    width: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.typography {
    padding-top: 20px;
}

.ethereum_symbol {
    float: center;
}

.token_info_header {
    border-style: none;
    border-color: lightgray;
    border-radius: 2.5em;
    height: 68px;
    padding: 8px;
}
