html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 2, 0.54) 0%, rgba(15, 7, 1, 0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 2, 0.54) 0%, rgba(15, 7, 1, 0) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 2, 0.54) 0%, rgba(15, 7, 1, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a000002', endColorstr='#000f0701', GradientType=1);
}
